* {
	font-size: 12px;
	font-family: "Victor Mono";
 }
 
 window#waybar {
	  background: rgba(0,0,0,0); 
}

#window {
	background: #1d1f21;
	color: #c5c8c6;
	padding: 2px;
	margin: 2px;
	margin-left: 5px;
	border-radius: 10px;
}

#tray {
	background: #1d1f21;
	color: #c5c8c6;
	padding: 2px;
	margin: 2px;
	margin-left: 5px;
	border-radius: 10px;
}

 #workspaces {
   background: #1d1f21;
	color: #c5c8c6;
	padding: 2px;
	margin: 2px;
	margin-left: 5px;
	border-radius: 10px;
 }

 #workspaces button.focused {
	background: #293036;
	color: #d9c5e4;
}

#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
	opacity: 1;
}

#temperature, #memory {
	margin: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #1d1f21;
	color: #c5c8c6;
 }
 
#custom-pacman {
	margin: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #1d1f21;
	color: #c5c8c6;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

 #battery {
	margin: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #1d1f21;
	color: #c5c8c6;
 }
 
 #custom-quit {
	margin: 2px;
	margin-left: 0;
	margin-right: 5px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid #1d1f21;
	background: #F00;
	color: #FFF;
 }
 
 #clock {
	margin: 2px;
	margin-left: 3px;
	margin-right: 0;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	color: #FFF;
	background: #1d1f21;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #c5c8c6;
 }

 #cpu {
	margin: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #1d1f21;
	color: #c5c8c6;
 }
 
 #custom-keyboard {
	margin: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #1d1f21;
	color: #c5c8c6;
 }
 
 #custom-media {
	margin: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 10px;
	background: #1d1f21;
	color: #c5c8c6;
 }
 #pulseaudio {
	margin: 2px;
	margin-left: 0;
	margin-right: 3px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #1d1f21;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #c5c8c6;
 }
 
 #network {
	margin: 2px;
	margin-left: 0;
	margin-right: 0;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #1d1f21;
	color: #c5c8c6;
 }
 