* {
	font-size: 12px;
	font-family: "Victor Mono";
	padding: 0px;
	margin: 1px;
 }
 
 window#waybar {
	  background: rgba(0,0,0,0); 
}

#window {
	background: #44475a;
	color: #f8f8f2;
	padding: 6px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0px;
	border-radius: 10px;
}

#tray {
	background: #44475a;
	color: #f8f8f2;
	padding: 2px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px;
}

#custom-notification {
	background: #44475a;
	color: #f8f8f2;
	font-size: 16px;
	padding: 6px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0px;
	border-radius: 10px;
 }

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #ff5555;
}

 #workspaces {
   background: #44475a;
	color: #f8f8f2;
	padding: 2px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0px;
	margin-left: 5px;
	border-radius: 10px; 
}

#workspaces button {
	padding: 0;
	padding-left: 6px;
	padding-right: 6px;
	margin: 0;
	border-radius: 10px; 
}

 #workspaces button.focused {
	background: #bd93f9;
	color: #282a36;
}

#workspaces button.urgent {
	border-color: #ff5555;
	color: #ff5555;
	opacity: 1;
}

#temperature, #memory {
	margin: 0px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #44475a;
	color: #f8f8f2;
 }
 
#custom-pacman {
	margin: 0px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #44475a;
	color: #f8f8f2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

 #battery {
	margin: 0px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #44475a;
	color: #f8f8f2;
 }
 
 #custom-quit {
	margin: 0px;
	margin-right: 5px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid #282a36;
	background: #ff5555;
	color: #f8f8f2;
 }
 
 #clock {
	margin: 0px;
	margin-left: 3px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #44475a;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #f8f8f2;
 }

 #cpu {
	margin: 0px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #44475a;
	color: #f8f8f2;
 }
 
 #custom-keyboard {
	margin: 0px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #44475a;
	color: #f8f8f2;
 }
 
 #custom-media {
	margin: 0px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	border-radius: 10px;
	background: #44475a;
	color: #f8f8f2;
 }
 #pulseaudio {
	margin: 0px;
	margin-right: 3px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #44475a;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #f8f8f2;
 }
 
 #network {
	margin: 0px;
	padding: 7px;
	padding-top: 0;
	padding-bottom: 0;
	background: #44475a;
	color: #f8f8f2;
 }
 